tags
sohooo.vim

.DS_Store

plugin/packer_compiled.lua
shada/
site/
telescope_history
undo/
nvim/

rplugin.vim

.luarc.json
lsp-zero.info.json
mason/
tree-sitter-help/
tree-sitter-cmake/

# lazy.nvim package manager
lazy/
